.md-header__button.md-logo img, .md-header__button.md-logo svg {
    height: 3rem;
    width: 3rem;
    padding: 0;
    margin: 0;
}

.md-header__button .md-logo {
    padding: 0;
    margin: 0;
}

.md-tabs {
    user-select: none;
}

.md-nav {
    user-select: none;
}

/*nav ul li label span {*/
/*    color: #009485;*/
/*    font-weight: bold;*/
/*    font-size: larger;*/
/*}*/
